*, ::before, ::after {
    box-sizing: border-box;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 34);
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 100px;
    background: -webkit-linear-gradient(45deg, yellow, magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.barres {
    position: absolute;
    margin-top: 65px;
    margin-right: 20px;
    right: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.hamburger {
    width: 50px;
    height: 6px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.hamburger::before,
.hamburger::after
{
    content: '';
    position: absolute;
    width:50px;
    height: 6px;
    background: magenta;
    transition: 0.5s;
}

.hamburger::before {
    top: -16px;
}

.hamburger::after {
    top: 16px;
}

/* MENU */
.menu {
    position: absolute;
    background: #dfdfdf;
    height: 100vh;
    width: 100%;
    left: -100%;
}

ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}
ul li {
    padding-top: 30px;
}
a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-size: 60px;
    font-family: Orbitron;
}


/* Animation Barres */

.barres.active .hamburger {
    background: #000;
}

.barres.active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.barres.active .hamburger::after {
    top: 0;
    transform: rotate(135deg);
}

@media screen and (min-width:320px) {
    h1 {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-10%, -20%);
        margin: 0;
    }
    .barres {
        margin-right: -30px;
    }
    .hamburger, .hamburger::before, .hamburger::after {
        width: 35px;
    }
    .menu {
        background: linear-gradient(45deg, yellow, magenta);
    }
    ul li a {
        font-size: 25px;
    }
}
@media screen and (min-width:375px) {
    h1 {
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-10%, -10%);
        margin: 0;
    }
    ul li a {
        font-size: 30px;
    }
}
@media screen and (min-width:425px) {
    h1 {
        font-size: 45px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-10%, -10%);
        margin: 0;
    }
    .barres {
        margin-right: -20px;
    }
    .hamburger, .hamburger::before, .hamburger::after {
        width: 40px;
    }
    
    ul li a {
        font-size: 35px;
    }
}
@media screen and (min-width:600px) {
    h1 {
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-10%, -10%);
        margin: 0;
    }
    ul li a {
        font-size: 40px;
    }
}
@media screen and (min-width:768px) {
    h1 {
        font-size: 55px;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-10%, -10%);
        margin: 0;
    }
    .barres {
        margin-right: 10px;
    }
    .hamburger, .hamburger::before, .hamburger::after {
        width: 50px;
    }
    ul li a {
        font-size: 45px;
    }
}
@media screen and (min-width:800px) {
    h1 {
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-10%, -10%);
        margin: 0;
    }
}
@media screen and (min-width:1024px) {
    h1 {
        font-size: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .barres {
        margin-right: 20px;
    }
}
@media screen and (min-width:1280px) {
    h1 {
        font-size: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .barres {
        width: 70px;
    }
    ul li a {
        font-size: 50px;
    }
}
@media screen and (min-width:1440px) {
    h1 {
        font-size: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .barres {
        width: 75px;
    }
    ul li a {
        font-size: 55px;
    }
}
@media screen and (min-width:2560px) {
    h1 {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    .barres {
        width: 80px;
    }
    ul li a {
        font-size: 60px;
    }
}